.table-list tr:hover {
	background-color: #EEE;
	cursor: pointer;
}
.table-list th {
	background-color: #EEE;
	border-right: 1px solid #CCC;
}
#logged-in-content {
	display: none;
}
#logged-out-content {
	width: 300px;
}
#users-online-container {
	position: absolute;
	right: 10px;
	top: 10px;
}
#logout-button {
	margin-top: 7px;
	display: none;
	margin-left: 10px;
}
.session-item:hover {
	cursor: pointer;
}
.session-item:hover td {
	background-color: #EEE;
}
.session-item .session-time {
	width: 110px;
	text-align: center;
	vertical-align: middle;
}
.session-item .session-type {
	width: 20px;
	text-indent: -9999px;

}
.session-item .session-type.session-color-01, .session-color-01 {
	background-color: #626262;
	color: white;
}
.session-item .session-type.session-color-02, .session-color-02 {
	background-color: #62FF62;
}
.session-item .session-type.session-color-03, .session-color-03 {
	background-color: #6262EE;
	color: white;
}
.session-item .session-type.session-color-04, .session-color-04 {
	background-color: #FF6262;
}
.session-item .session-title {
	font-size: larger;
}
.session-item .session-presenter {
	color: #999;
	font-size: smaller;
}
.presenter-row {
	background-color: #DEF0FA;
}
#admins-list th:first-child {
	width: 120px;
}