.table-list tr:hover {
	background-color: #EEE;
	cursor: pointer;
}
.table-list th {
	background-color: #EEE;
}
#users-online-container {
	position: absolute;
	right: 10px;
	top: 10px;
}
.session-item:hover {
	cursor: pointer;
}
.session-item:hover td {
	background-color: #EEE;
}
.session-item .session-time {
	width: 110px;
	text-align: center;
	vertical-align: middle;
}
.session-item .session-type {
	width: 20px;
	text-indent: -9999px;

}
.session-item .session-type.session-color-01, .session-color-01 {
	background-color: #626262;
	color: white;
}
.session-item .session-type.session-color-02, .session-color-02 {
	background-color: #62FF62;
}
.session-item .session-type.session-color-03, .session-color-03 {
	background-color: #6262EE;
	color: white;
}
.session-item .session-type.session-color-04, .session-color-04 {
	background-color: #FF6262;
}
.session-item .session-title {
	font-size: larger;
}
.session-item .session-presenter {
	color: #999;
	font-size: smaller;
}
.hide-by-presenter {
	display: none;
}
.hide-by-keyword {
	display: none;
}
.hide-by-session {
	display: none;
}
.well {
	background-color: #FDFEFF;
}
.public-presenter {
	width: 250px;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }




